.who{
    display: flex;
    flex: direction;
    align-items: center;
}
.who h1{
    font-family: 'Times';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #290E17;
}
.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 88px;
}
.hero h1{
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #290E17;
}
.hero p{
    width: 588px;
    height: 199px;
    font-family: 'Times';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #290E17;
    margin-top: 20px;
}
.cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 437px;
    width: 371px;
    justify-content: center;
    text-align: center;
    margin-top: 156px;
    box-shadow: 5px 10px #f2f2f2;   
    border-radius: 10px;
}

.mission p{
    margin-top: 30px;
    font-family: 'Times';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 335px;
}
.mission h1{
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    margin-top: 20px;
}

.live-about p{
    width: 329px;
    height: 67px;
    font-family: 'Times';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #888888;
    margin-left: 21px;
}

.live-about img{
    margin: 12px 21px;

}
.what{
    margin-top: 156px ;
}
.what h1{
    width: 520px;
    left: 120px;
    top: 1467px;
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    padding-bottom: 40px;
}
.box{
    width: 80px;
    height: 60px;
    background: #290E17;
}
.circle-img{
   background: #fff;
   height: 88px;
   width: 88px;
   margin-left: -40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.circle-img img{
    width: 70px;
    height: 70px;
}
.people{
    width: 351px;
    height: 260px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(124, 41, 70, 0.1);
    border-radius: 16px;
    padding-top: 20px;
    padding-bottom: 45px;
   
}
.cover{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inner{
    display: flex;
    align-items: center;
}
.name p{
    font-family: 'Times';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}
.name h3{
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #290E17;
}

.who-team h1{
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #7C2946;
    text-align: center;
}

.who-team{
    margin-top: 156px;
}
.meet img{
    width: 228px;
    height: 324px;
}

.meet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    
}
.meett{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 96px;
}
.meet h2{
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #02080D;
}