.who{
    display: flex;
    flex: direction;
    align-items: center;
    margin-bottom: 81px;
    margin-top: 94px;
}
.who h1{
    font-family: 'Times';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #290E17;
}
.newone h1{
    width: 1100px;
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #290E17;
    margin-top: 67px;
    margin-bottom: 37;
}
.newone p{
        width: 1100px;
        font-family: 'Times';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #290E17;
        margin: 24px 0px;  
        margin-top: 24px; 
}

.box{
    box-sizing: border-box;
    width: 100%;
    height: 676px;
    border: 1px solid rgba(2, 8, 13, 0.15);
    filter: (15px 15px 25px rgba(2, 8, 13, 0.25));
    border-radius: 10px;
}
.box h1{
    width: 169px;
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #290E17;
}