/* .dera{

} */
.welcome h1{
    height: 48px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #290E17;
}
.welcome p {
    margin-top: 22px;
    width: 488px;
    /* height: 80px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;;
    letter-spacing: 0.04em;
    color: #290E17;
}
.welcome{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new{
    padding: 0 120px;
}
.det{
    width: 347px;
    height: 260px;
    border: solid 1px #7C2946;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.det button{
    width: 161px;
    height: 56px;
    background: #7C2946;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
}
.det p{
    width: 284px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 25px 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 40;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 3% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 998px;
    height: auto;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .formy p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #290E17;
  }
  .formy input{
    width: 413px;
    height: 26px;
    border: 1px solid rgba(41, 14, 23, 0.25);
    border-radius: 10px;
    outline: none;
    padding: 10px;
  }
  .formy{
    display: flex;
    justify-content: space-between;
  }
  .form{
    margin: 20px 0;
  }
  .formy button{
    width: 161px;
    height: 56px;
    background: #7C2946;
    border-radius: 10px;
    color: #fff;
    outline: none;
    border: none;
    font-family: 'Times';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
  }
  