.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 ;
}
.load{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 ;
  width: 1200px;
  height: 421px;
  background: #FFFFFF;
  border: 1px solid rgba(41, 14, 23, 0.2);
  border-radius: 10px;

}
.loadd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 ;
  width: 1200px;
  height: 421px;
  background: #FFFFFF;
  border: 1px solid rgba(41, 14, 23, 0.2);
  border-radius: 10px;

}
.load .img{
  border-bottom: solid 1px #1E1E1E;
  padding: 20px 20px;
}
.update{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
  width: 100%;
}
.update h1{
  font-family: 'Times';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #290E17;
 
}
.will{
  background: #D9D9D9;
border-radius: 10px;
height: 56px;
}
.doc{
  display: flex;
  flex-direction: column;
  padding: 40px 120px ;
    
}
.push{
  display: flex;
  justify-content: center;
}

.doc p{
  font-family: 'Times';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
padding-top: 40px;
color: #290E17;

}
.doc h1{
  font-family: 'Times';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
color: #290E17;
}

.secs button{
    width: 203px;
    height: 56px;
    left: 1117px;
    top: 1008px;
    background: #7C2946;
    border-radius: 10px;
    color: #fff;
    outline: none;
    border: none;
    margin:30px 70%;
    
}
.load button{
  width: 203px;
  height: 56px;
  left: 1117px;
  top: 1008px;
  background: #7C2946;
  border-radius: 10px;
  color: #fff;
  outline: none;
  border: none;
  margin-left: 82%;
  margin-top: 48px;
}

form h1{
    font-family: 'Times';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;
color: #290E17;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 40;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 3% auto; 
    padding: 40px;
    border: 1px solid #888;
    width: 723px;
    height: auto;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  
  .drag{
    width: 687px;
height: 121px;
background: #FFFFFF;
border: 1px solid rgba(41, 14, 23, 0.2);
border-radius: 10px;
margin: 40px 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  }
  .drag p{
    width: 455px;
    text-align: center;
    padding: 10px 0;
  }
  .formy{
    display: flex;
    flex-direction: column;
  }
  .formy label{
    margin-top: 20px;
  }
  .formy input, select{
    margin-top: 10px;
    margin-buttom: 20px;
    width: 610px;
    height: 53px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: transparent;
    outline: none;
  }

  textarea{
    padding: 10px;
    text-align: left;
    resize: none;
    width: 610px;
    height: 160px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: none;
  }

  .secs-button{
    width: 168px;
  height: 56px;
  background: #7C2946;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  font-family: 'Times';
font-style: normal;
font-weight: 700;
font-size: 16px;
  }
  .cancel{
    text-decoration-line: underline;
color: #290E17;
font-family: 'Times';
font-style: normal;
font-weight: 700;
font-size: 16px;
border: none;
outline: none;
background: transparent;
  }
  .btn{
    margin-left: 60%;
    margin-top: 40px;
  }